*.[oa]
*.obj
*.dll
*.exe
*.lib
*~
projmsvc9/**/*.ncb
projmsvc9/**/*.user
projmsvc2010/**/*.ncb
projmsvc2010/**/*.user
projmsvc2015/**/*.ncb
projmsvc2015/**/*.user
*.manifest
*.dep
*.idb
*.pdb
*.res
*.ilk
Release/
Debug/
obj/
/doc/doxybuild/
/src/lab/
